* {
  border: 1px solid #1bf500;
}

body {
  background: url('../img/background_75.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.sd {
  height: 300px;
  width: auto;
}

.large-8, .medium-8, .columns{
  text-align: center;
}

input[type="text"] {
  width: 300px;
  height: 30px;
  border-radius: 4px;
  margin: 0 auto;
  font-size: 80%;
  color: #A6A6A6;
  /*padding-left: 10px;*/
  /*display: block;*/
}

.footer {
  width:100%;
  background: #5a5554;
  position: fixed;
  bottom: 0;
  max-height: 69px;
}

.footer p {
  color: #96ebd5;
  font-size: 12px;
  margin-top: 20px;
  float: left;
}

.footer ul {
  margin-top: 20px;
  float: right;
}

.footer li {
  color: #96ebd5;
  float: left;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

.footer li a {
  color: #ffffff;
  text-decoration: none;
}

.footer li a:hover {
  color: #96ebd5;
  /*text-decoration: none;*/
}

.small.radius.button {
  background-color: orange;
  margin: 5px 5px;

}
