<div class="footer">
  <div class="row">
      <ul style="margin-left: 0px;">
        <li><a href="http://www.twitter.com/techtolentino" target="_blank">@techtolentino</a></li>
        <li><a href="http://www.twitter.com/yungwelchsgrape" target="_blank">@yungwelchsgrape</a></li>
        <li>"The Streets Are Hacking"</li>
      </ul>
  </div>
</div>
