<div class="header">
  <div class="row">
    <ul style="margin-left: 0px;">
      <li>
      	<a href="#loginModal">LOGIN</a>
      	<div id="loginModal" class="modalDialog">
      		<div>
						<a href="/" title="Close" class="close" method="get" action="/">X</a>
						<br>
						<form class="user" action"/" method="post">
            <h4 class="password">USERNAME</h4>
            <input type="text" name="user" autofocus="autofocus"><%= @name %></input>
            <h4 class="password">PASSWORD</h4>
						<input type="password" name="pwd" class="password"><%= @pass %></input>
						<input type="submit" value="Submit" class="submit"></input>
						</form>
					</div>
				</div>
			</li>

      <li>
      	<a href="#aboutModal">ABOUT</a>
				<div id="aboutModal" class="modalDialog">
					<div>
						<a href="/" title="Close" class="close" method="get" action="/">X</a>
						<h2>ABOUT</h2>
						<hr>
						<p>test test</p>
					</div>
				</div>
      </li>
    </ul>
  </div>
</div>

