<div class="header">
  <div class="row">
    <ul style="margin-left: 0px;">
      <li>
      	<a href="#loginModal">LOGIN</a>
      	<div id="loginModal" class="modalDialog">
      		<div>
						<a href="/" title="Close" class="close" method="get" action="/">X</a>
						<br>
						<h4 class="password">USERNAME</h4>
						<input type="text" name="user">
						<h4 class="password">PASSWORD</h4>
						<form class="user">
						<input type="password" name="pwd" class="password">
						<input type="submit" value="Submit" class="submit">
						</form>
					</div>
				</div>
			</li>
      
      <li>
      	<a href="#aboutModal">ABOUT</a>
				<div id="aboutModal" class="modalDialog">
					<div>
						<a href="/" title="Close" class="close" method="get" action="/">X</a>
						<h2>ABOUT
						<p>This is a sample modal box that can be created using the powers of CSS3.</p></h2>
					</div>
				</div>
      </li>
    </ul>
  </div>
</div>

