<!-- top of page that olds the app banner -->
<div class="row">
  <div class="large-12 columns">
    <img class ="banner" src="/img/banner.png">
  </div>
</div>

<!-- Shehzan's image placeholder -->
<div class="row">
  <div class="large-12 columns">
    <img class="sd" src="/img/sd2.png">
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <a href="#openJokeOfTheDay" class="small radius button">Joke of the Day</a>
    <div id="openJokeOfTheDay" class="modalDialog">
      <div>
        <a href="/" title="Close" class="close" method="get" action="/">X</a>
        <h4 class="answer"><%= @joke.joke %></h4>
        <hr noshade size=3>
        <h4 class="answer"><%= @joke.answer %></h4>
      </div>
    </div>

    <a href="#openRandom" class="small radius button">Random Joke</a>
      <div id="openRandom" class="modalDialog">
        <div>
          <a href="/" title="Close" class="close" method="get" action="/">X</a>
          <h4 class="answer"><%= @joke_random.joke %></h4>
          <hr noshade size=3>
          <h4 class="answer"><%= @joke_random.answer %></h4>
        </div>
      </div>
  </div>
</div>
