<!-- top of page that olds the app banner -->
<div class="row">
  <div class="large-12 columns">
    <img class ="banner" src="/img/banner.png">
  </div>
</div>

<!-- Shehzan's image placeholder -->
<div class="row">
  <div class="large-12 columns">
    <img class="sd" src="/img/sd2.png">
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
  <a href="#openModal" class="small radius button">Joke of the Day</a>

  <a href="#openModal" class="small radius button">Random Joke</a>

  <div id="openModal" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <h4>Joke</h4>
    <form method="post" action="/main"><label for="password"><h4>Answer</h4>
      <!-- <input type="text" name="password"></label></form> -->
    </div>
  </div>

  </div>
</div>
