
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shehzan's Joke of the Day</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <!-- loads custom hand-coded app.css file -->
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body>

  <div class="row">
    <div class="large-12 columns">
      <img class ="banner" src="/img/banner.png">
    </div>
  </div>

  <div class="add_joke">
  <div class="add_joke_forms">
    <form class="user" action"/add_joke" method="post">
      <h4 class="password">USERNAME</h4>
      <input type="text" name="user"></input>
      <h4 class="password">PASSWORD</h4>
      <input type="password" name="pwd"></input>
      <input type="submit" value="Submit" class="submit">
    </form>
  </div>
</div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="js/resize.js"></script>
  </body>
</html>
